footer
  .container.text-center
    p.pull-left © 2015 Trent Oswald 
      a(href='https://twitter.com/therebelrobot') @therebelrobot
      | &nbsp;-&nbsp;
      a(href='https://tldrlegal.com/license/-isc-license') ISC License
    p.pull-left &nbsp;|&nbsp;Built for&nbsp;
      a(href='http://codeforsanfrancisco.org') Code for SF
      ul.list-inline
        li
          a(href='https://github.com/therebelrobot/mirror') 
            i.fa.fa-github
        li
          a(href='https://github.com/therebelrobot/mirror/issues') Issues
