footer
  .container.text-center
    p.pull-left © 2015 Trent Oswald 
      a(href='https://twitter.com/therebelrobot') @therebelrobot
      | &nbsp;-&nbsp;
      a(href='https://tldrlegal.com/license/-isc-license') ISC License
    ul.pull-right.list-inline
      li
        a(href='https://github.com/therebelrobot/manualfork') GitHub
      li
        a(href='https://github.com/therebelrobot/manualfork/issues') Issues
